nav{
    height: 6000px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

a{
    color:red
}

body{background-color: #2f333d 
}

p{
    color: #c4c7cf;
}

footer{
    text-align: center;
    margin-right: 200px;
    color:#c4c7cf
}
#memeImage{ 
    margin-right: 200px;
}


form{
    color: #c4c7cf;
}
